<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    {% load static %}
    <link href="{% static "/cover.css" %}" rel="stylesheet">

    <title>iCare</title>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">iCare</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/home">Home</a></li>
                  <li><a href="/sign_in">Sign in</a></li>
                  <li><a href="/sign_up">Sign up</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">iCare——可穿戴监护设备</h1>
            <p class="lead">及时获取老年人位置和身体状态信息，如心电图、体温等，以防止老人走失或遇到突发情况无人救助，减少老人独处时的意外发生率</p>
            <p class="lead">
              <a href="/sign_in" class="btn btn-lg btn-default">Sign in to continue</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://github.com/Ikepi">ljy</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>