<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    {% load static %}
    <link href="{% static "/cover.css" %}" rel="stylesheet">

    <title>iCare</title>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">iCare</h3>
              <nav>
                <ul class="nav masthead-nav">
                    <li><a href="#">{{ username }}</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
              <div class="row">

              </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://github.com/Ikepi">ljy</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>